<form n:name=$form class="form">	

{include 'formErrors.latte', form => $form, controlClass => $controlClass}
{include 'formBody.latte', form => $form, controlClass => $controlClass}
{include 'formButtons.latte', form => $form, controlClass => $controlClass}

</form>
